# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.model

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Models caches
models/resume_classifier.pkl
models/tfidf_vectorizer.pkl
data/raw_resumes.csv
data/raw_jobs.csv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
